.container.content,
.mainContent,
.contentBG {
    max-width: 100% !important;
    width: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}

#content{
    width: auto !important;
    max-width: 100% !important;
    margin-right:15px !important;
    margin-left:15px !important;
}


.socialFixed {
    display: none;
}

.container div.btn-group-vertical {
    margin-bottom: 0px;
    width: 100%;
    align-items: inherit;
}

button.btn.btn-primary {
    border: none;
    width: 100%;
    border-radius: 0px;
    font-size: 18px;
    color: #337ab7;
    padding: 10px;
    background-color: #f5f5f5;
    border-color: gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

button.btn-outline-primary {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    border: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

button.btn.btn-primary:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

button.btn.btn-primary::after,
button.btn.btn-primary:hover::after,
button.btn-outline-primary::after {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    float: right;
    content: "\203A";
}

.section {
    font-size:1.1rem;
}



hr {
    border-top: 2px solid rgb(0 0 0 / 25%) !important;
    margin-top: 0px !important;
}

h2 {
    margin-top: 0px;
}

a:hover {
    cursor: pointer;
}

.SidebarTitle {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}

.subsection {
    padding-left: 0px;
}

.well .person:first-of-type .position {
    margin-top: 0px;
}

.position {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #014b82;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.person,
.name,
.contact {
    color: dimgray;
    font-size: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CTA {
    flex-flow: nowrap;
    /* padding:50px; */
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 20px 20px 10px 20px;
    background-color: #f5f5f5;
    border-color: gray;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CTAbutton {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    border-radius: 4px !important;
}

.CTAbutton:hover {
    color: #337ab7 !important;
    background-color: white !important;
    border-color: #122b40;
}

.CTAbutton::after,
.CTAbutton:hover::after {
    display: none;
}

ul li,
ol li {
    margin-bottom: 0em;
    margin-top: -0.2em;
}




#more,
.more {
    display: none;
}

#profile {
    text-align: -webkit-left !important;
    background-color: #f1f1f1 !important;
    padding-top: 10px;
}

#profile>div.person {
    margin-bottom: 5px;
}

#profile>h3.position {
    text-align: center;
    margin-bottom: 10px
}

@media only screen and (max-width: 992px) {
    #profileImage {
        width: 75% !important;
    }
    #profile {
        height: auto;
        width: 100%;
        text-align: center !important;
    }
    #responsiveLink {
        display: contents !important;
        
    }
    .container {
        
    }

    .CTA {
        margin-left: 0px;
        margin-right: 0px;
    }
    .person {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#subhead {
    color: #014b82;
    font-size: 24px;
}


#name {
    font-size: 1.2rem;
}

#thisPage{
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom:10px;
}

#responsiveLink {
    display: none;
    
}

.section>h1 {
    text-align: left !important;
}

.list-group-flush > .list-group-item {
 
    border: 1px solid rgba(0,0,0,.125);   border-left:none;
    border-right:none;
  }